.header img{
    height: 200px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: #FF4778;
    line-height: 50px;
    font-size: 25px;
}
nav a{
    text-decoration: none;
    color: #F3EFFE;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover{
    background-color: #EE316B;
}
