.product{
    display: flex;
    border-bottom: 1px solid #FFC6BF;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.product-name{
    color: black;
    font-weight: 400;
    font-size: 35px;
    margin-left: 10px;
}
.product img{
    width: 300px;
}
