.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header img{
  height: 80%;
  width: 80%;
}
.header{
  text-align: center;
}
.header nav{
  background-color: #FF4778;
  line-height: 50px;
  font-size: 25px;
}
nav a{
  text-decoration: none;
  color: #F3EFFE;
  margin-right: 20px;
  padding: 5px;
}
nav a:hover{
  background-color: #EE316B;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
